#aside_lf{
    width:860px;
    min-height:500px;
}
#aside_rt{
    width:300px;
    min-height:500px;
}
/*左侧栏开始*/
#classify{
    width:860px;
    height:40px;
}
#classify>li{
    float:left;
    padding:6px 12px;
}
#classify>li:first-child{
    padding: 6px 12px 6px 0;
}
#classify>li.active{
    background-color:#44B549;
    border-radius:3px;
    color:#fff;
}
#classify>li.active >a{
    color:#fff;
}
/*资讯列表开始*/
#information li{
    width:870px;
    height:170px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px dotted #EBEBEB;
}
#information>li .infoImg img{
    width:200px;
}
#information>li .infoMsg{
    width:650px;
    padding: 5px 20px;
    float:right;
}
#information>li .infoMsg>p{
    margin:15px 0;
}
#information>li .infoMsg>p.summary{
    color:#999;
}
#information>li .infoMsg>p>span.infoCount>a{
    color:#4dc060;
}
/*资讯列表结束*/
/*左侧栏结束*/

